---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "一歩ずつ流れを説明していきます。";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="制作の流れ"
      description={description}
    />
    <Accordion />
  </div>
</Section>